@import './reset'
$del: 1px solid red

$base-width: 1600px
   
body
    font-family: Roboto, sans-serif


.container
    margin: 0 auto
    max-width: $base-width
    
.header 
    margin: 0 auto
    max-width: 100rem
    background-image: url('./assets/bg-image.png')
    background-repeat: no-repeat
    background-size: cover
    background-position: center

    &__menu
        padding-top: 25px

    &__menu-list  
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-around
        margin: 0 auto
        max-width: 680px

    &__menu-item--active            
        font-weight: normal
        border-bottom: 1px solid #FFFFFF

    &__menu-link
        text-decoration: none
        color: white
        font-size: 14px

    &__menu-link:hover
        text-decoration: underline

    &__logo
        margin-right: 10px

    &__content
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between
        padding-top:  8.7rem
        color: rgba(255, 255, 255, 0.8)

    &__content-title
        padding-top: 26px
        padding-left: 5px
        text-transform: uppercase
        text-align: center
        font-size: 4rem
        font-weight: 700
        letter-spacing: 4px
        word-spacing: 3px
        
    &__content-text
        padding-top: 26px
        padding-left: 3px
        font-size: 16px
        line-height: 155%
        letter-spacing: 1px
        text-align: center
        width: 30rem

    &__content-button
        margin-top: 30px
        margin-left: 1px

    &__social-buttons
        display: flex
        justify-content: space-between
        width: 170px
        padding-top: 181px
        padding-bottom: 88px
    &__social-img:hover
        transform: scale(1.2)

.button-get-started
        display: block
        background: #00AFDB
        width: 5.75rem
        height: 1.12rem
        padding: 14px 46px
        text-transform: uppercase
        color: #FFFFFF
        font-style: normal
        font-weight: bold
        font-size: 14px
        line-height: 21px
        transition: all .5s

.button-get-started:hover
    background: #009CCC

.rappresent
    margin: 0 auto
    max-width: 1560px

    &__wrapper
        display: flex   
        flex-direction: row
        align-items: center
        justify-content: space-evenly
        flex-wrap: wrap
        min-height: 52.5rem
        
    &__column  
        max-width: 405px
        height: 600px

    &__title
        max-width: 24rem
        padding-top: 180px
        font-weight: 700
        font-size: 1.6rem
        text-transform: uppercase
        line-height: 113%
        
    &__text
        padding-top: 19px
        font-weight: 200
        font-size: 0.9rem
        word-spacing: 0.1px
        line-height: 138%

    &__button
        margin-top: 30px    
        
    &__column-img
        padding-top: 8px

.community
    min-height: 504px
    background: #F5F6F7

    &__wrapper
        display: flex  
        justify-content: flex-end
        flex-wrap: wrap
        overflow-x: hidden
        padding-top: 87px
       
    &__info
        max-width: 300px
        margin-right: 107px
        text-align: center

    &__sliders
        margin-right: -387px  

    &__logo
        padding-top: 75px

    &__title
        padding-top: 19px
        font-style: normal
        font-weight: 500
        font-size: 16px
        line-height: 20px
        letter-spacing: 2.4px
        text-transform: uppercase
        color: #373737

    &__text
        padding-top: 12px
        font-weight: 300
        font-size: 14px
        line-height: 140%
        letter-spacing: 0.1px

    &__slider-navigation
        display: flex
        justify-content: space-evenly
        width: 100px
        padding-bottom: 22px
        padding-left: 565px
        
    &__slider-items
        display: flex


    &__slider-slide
        display: flex
        justify-content: space-between
    &__slider-slide
        padding-left: 30px

.prev-arrow,
.next-arrow 
    cursor: pointer

.prev-arrow:hover,
.next-arrow:hover 
    transform: scale(1.2)

.implement
    min-height: 848px
    max-width: 1736px

    &__wrapper
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-evenly
        flex-wrap: wrap
        min-height: 836px
        max-width: 1252px
        margin: 0 auto
        
    &__context
        min-height: 200px

    &__title
        padding-top: 9px
        padding-bottom: 22px
        font-size: 24px
        text-transform: uppercase
        font-weight: 700
        letter-spacing: 0.9px

    &__text
        padding-bottom: 28px
        font-size: 13px
        font-weight: 400    
        line-height: 157%
        letter-spacing: 0.46px

    &__column-right
        max-width: 410px

    &__column-left
        width: 400px
    &__button
        padding-right: 41px    

.sign
    margin: 0 auto
    max-width: 1600px
    min-height: 523px
    background-image: url('assets/signup-image.jpg')
    background-image: no-repeat
    background-size: cover
    // background-position: center

    &__wrapper    
        display: flex
        align-items: center
        justify-content: space-between
        flex-direction: column
        padding-top: 201px
        min-height: 104px

    &__title
       color: white
       font-size: 24px
       font-weight: 700
       letter-spacing: 1px
       text-transform: uppercase

    &__email
        min-width: 299px    
        border: none
        padding: 13px 23px

    &__submit
        background-image: url('assets/fa-check.png')
        background-repeat: no-repeat
        background-position: 24px 14px
        margin-left: -8px
        min-width: 65px
        min-height: 46px
        border: none
        background-color: #00AFCB
        cursor: pointer
        transition: all .3s   

    &__submit:hover 
        // background: #009CC2
.download
    min-height: 463px
    border: $del
    
    &__wrapper
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between
        min-height: 162px
        padding-top: 122px
        background: #F5F6F7

    &__title
        text-transform: uppercase
        font-size: 23px
        font-weight: 700
        letter-spacing: 2px 
        word-spacing: -3px

    &__text
        max-width: 485px
        font-size: 14px
        font-weight: 400
        line-height: 150%
        text-align: center

    &__buttons
        display: flex
        flex-direction: row
        justify-content: space-between
        min-width: 400px
    
    &__button
        padding: 14px 19px
        background-color: #00AFCB    
        border: none
        color: white
        text-transform: uppercase
        font-weight: bold
        font-size: 14px
        position: relative
        z-index: 1

    &__button::after
        position: relative
        // padding: 10px
        width: 10px
        height: 10px
        z-index: 2
        top: -2px
        bottom: -2px
        left: -20px
        content: ''        
    
        //
        // npm run watch -> go live in vscode
        //
        //
        // !!!!!!!!
           

